<!--- BEGIN topic-info -->
<div class="topic-info">
  <div class="row">
      <div class="col-md-6">
        <div class="topic-info__abstract">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, consequatur id temporibus qui omnis quo autem quaerat ex, at aut pariatur fuga blanditiis explicabo sint aliquam consequuntur debitis enim veritatis!
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati culpa quos soluta, quaerat animi dolor porro cum saepe cumque eligendi illum aliquid eveniet, quisquam harum, doloribus laborum provident eaque dolorum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic debitis, tempora perspiciatis in, velit impedit dicta sunt magnam aliquam deleniti id labore excepturi expedita libero provident eligendi pariatur dolorem consequatur.
        </p>
        <div class="topic-info__start">
          <a ui-sref="topic.course">Start course →</a>
        </div>
      </div>
      <div class="col-md-6">
        <img class="topic-info__img" src="img/overview_small.png" alt="" width="348" height="120">
        <div class="topic-info__courses">
          <ul class="topic-info__courses-list">
            <li ng-repeat="topic in vm.related"><a ui-sref="topic.info({topicId: topic.id})">{{topic.title}}</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>
<!--- END topic-info -->
