<img class="logo" src="img/header.png" alt="">
<div class="content content--slick">
  <div class="slick">
    <div class="slick__item">
      <div class="slick__subitem">
        Overview
      </div>
      <div class="slick__subitem">
        Pops
      </div>
    </div>
    <div class="slick__item">
      <div class="slick__subitem">
        Reporting and other notifications
      </div>
      <div class="slick__subitem">
        Chemicals
      </div>
    </div>
    <div class="slick__item">
      <div class="slick__subitem">
        Wastes
      </div>
      <div class="slick__subitem">
        National plans and strategies
      </div>
    </div>
    <div class="slick__item">
      <div class="slick__subitem">
        test7
      </div>
      <div class="slick__subitem">
        test8
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="topic-list">
  <div class="topic-list__item">Overview</div>
  <div class="topic-list__item topic-list__item--active">Reporting and other notifications</div>
  <!--- BEGIN topic-info -->
  <div class="topic-info">
    <div class="row">
        <div class="col-md-6">
          <div class="topic-info__abstract">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, consequatur id temporibus qui omnis quo autem quaerat ex, at aut pariatur fuga blanditiis explicabo sint aliquam consequuntur debitis enim veritatis!
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati culpa quos soluta, quaerat animi dolor porro cum saepe cumque eligendi illum aliquid eveniet, quisquam harum, doloribus laborum provident eaque dolorum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic debitis, tempora perspiciatis in, velit impedit dicta sunt magnam aliquam deleniti id labore excepturi expedita libero provident eligendi pariatur dolorem consequatur.
          </p>
          <div class="topic-info__start">
            <a href="\\#">Start course →</a>
          </div>
        </div>
        <div class="col-md-6">
          <img class="topic-info__img" src="img/overview_small.png" alt="" width="348" height="120">
          <div class="topic-info__courses">
            <ul class="topic-info__courses-list">
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, odio.</li>
              <li>Lorem ipsum.</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
  <!--- END topic-info -->
  <hr/>
  <!-- BEGIN topic-courses  -->
  <div class="topic-courses">
    <div class="row">
      <div class="col-md-6">
        <div class="courses-list">
          <div class="courses-list__item">
            <div class="row">
              <div class="col-md-2">
                <img src="http://placehold.it/50x50" alt="">
              </div>
              <div class="col-md-10">
                  <div class="course-list__title">Course 1</div>
                  <div class="course-list__abstract">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, earum!</div>
              </div>
            </div>
          </div>
          <div class="courses-list__item courses-list__item--active">
            <div class="row">
              <div class="col-md-2">
                <img src="http://placehold.it/50x50" alt="">
              </div>
              <div class="col-md-10">
                  <div class="course-list__title">Course 2</div>
                  <div class="course-list__abstract">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, earum!</div>
              </div>
            </div>
          </div>
          <div class="courses-list__item">
            <div class="row">
              <div class="col-md-2">
                <img src="http://placehold.it/50x50" alt="">
              </div>
              <div class="col-md-10">
                  <div class="course-list__title">Course 3.</div>
                  <div class="course-list__abstract">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, earum!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="course-content" style="padding: 5px">
          <div class="course-content__media"  style="text-align: center">
            <iframe align="center" id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="300" height="200" src="//prezi.com/embed/idajoepohctg/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWkRDVE93YVVDTVN5dWF2eDNlZVpKYUwwUkhXZHkybnZqRFMzNXlvcEZSdTNQeXNIMWh5aGJGejc5L0orRFU9&amp;landing_sign=GXwKwp5AR2sG_KdItRAsUCldK65nmiXUNuSuWW0FiS0"></iframe>
          </div>
          <ul class="course-content__related">
            <li class="course-content__related-item"><a href="\\#">Related material 1</a></li>
            <li class="course-content__related-item"><a href="\\#">Related material 2</a></li>
            <li class="course-content__related-item"><a href="\\#">Related material 3</a></li>
            <li class="course-content__related-item"><a href="\\#">Related material 4</a></li>
          </ul>
          <ul class="course-content__actions">
            <li class="course-content__action"><a href="\\#"><img src="img/actions/a_Ress_01.png" alt=""></a></li>
            <li class="course-content__action"><a href="\\#"><img src="img/actions/a_Ress_02.png" alt=""></a></li>
            <li class="course-content__action"><a href="\\#"><img src="img/actions/a_Ress_03.png" alt=""></a></li>
            <li class="course-content__action"><a href="\\#"><img src="img/actions/a_Ress_04.png" alt=""></a></li>
            <li class="course-content__action"><a href="\\#"><img src="img/actions/a_Ress_05.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END topic-courses  -->
  <hr/>
  <div class="topic-docs">
    <h2>Documents</h2>
    <table class="topic-docs__list">
      <tr>
        <td>01.01.2016</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
        <td><a href="\\#"><i class="fa fa-file-word-o"></i></a> <a href="\\#"><i class="fa fa-file-pdf-o"></i></a> <a href="\\#"><i class="fa fa-external-link"></i></a></td>
      </tr>
      <tr>
        <td>01.01.2016</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
        <td><a href="\\#"><i class="fa fa-file-word-o"></i></a> <a href="\\#"><i class="fa fa-file-pdf-o"></i></a></td>
      </tr>
      <tr>
        <td>01.01.2016</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
        <td><a href="\\#"><i class="fa fa-file-word-o"></i></a> <a href="\\#"><i class="fa fa-file-pdf-o"></i></a></td>
      </tr>
    </table>
    <div class="topic-docs__back">
       <a href="\\#">← Back to course</a>
    </div>
  </div>
</div>
<hr/>
<div class="topic-list__item topic-list__item--afteractive">Wastes</div>
<div class="topic-list__item">POPs</div>
<div class="topic-list__item">Chemicals</div>
<div class="topic-list__item">National plans and strategies</div>
</div>
<script id="tmpl-topic-info" type="text/x-kendo-template">
<div class="topic-info">
<div class="row">
<div class="col-md-6">
  <div class="topic-info__abstract">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, consequatur id temporibus qui omnis quo autem quaerat ex, at aut pariatur fuga blanditiis explicabo sint aliquam consequuntur debitis enim veritatis!
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati culpa quos soluta, quaerat animi dolor porro cum saepe cumque eligendi illum aliquid eveniet, quisquam harum, doloribus laborum provident eaque dolorum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic debitis, tempora perspiciatis in, velit impedit dicta sunt magnam aliquam deleniti id labore excepturi expedita libero provident eligendi pariatur dolorem consequatur.
  </p>
  <div class="topic-info__start">
    <a href="">Start course →</a>
  </div>
</div>
<div class="col-md-6">
  <img class="topic-info__img" src="img/overview_small.png" alt="" width="348" height="120">
  <div class="topic-info__courses">
    <ul class="topic-info__courses-list">
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, odio.</li>
      <li>Lorem ipsum.</li>
    </ul>
  </div>
</div>
</div>
