
body {
  background-color: rgb(219, 219, 219);
}


.page {
  margin: 0 auto;
  max-width: 725px;
}

.page a {
  text-decoration: none;
  color: black;
}

.page a:hover {
  color: white;
}

.content {
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding:5px;
}

.content--hspace {
  margin-top: 10px;
}
.content--slick {
  height: 320px;
}

.logo {
  width: 725px;
}


.slick-slide {
    outline: none;
}

.slick-next {
    right: 0px;
}

.slick-slider {
    margin-bottom: 30px;
}


.slick {
   margin-left: auto ;
   margin-right: auto ;
   max-width: 660px;
   border-radius: 3px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 15px;
}
.slick-prev:before, .slick-next:before {
  color: grey;
  font-size: 50px;
}

.slick__header {
  font-size: 30px;
}


.slick__subitem {
    padding-top: 5px;
    font-size: 20px;
    color: rgb(215,10,80);
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    height: 100px;
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 10px;
    text-align: right;

    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(215,10,80);
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}


.slick__subitem--nothover {
  background-color: hsla(0, 100%, 100%, 0.0);
  opacity: .2;
}

.topic-list__item {
  font-size: 20px;
  background-color: white;
  margin-top: 5px;
  padding: 10px 5px 1px 5px;
  color: silver;
  font-family: 'Questrial', sans-serif;
}

.topic-list__item:hover {
  cursor: pointer;
}

.topic-list__item--active {
  color: rgb(215,10,80);
  border-bottom-style: solid;
  border-color: rgb(215,10,80);
}

.topic-list__item--afteractive {
  border-top-style: solid;
  border-color: rgb(215,10,80);
}

.topic-info {
  padding: 5px;
}

.topic-info__start {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
}


.topic-info__start a {
  color: white;
}


.topic-info__start a:hover {
  color: silver;
}

.topic-info__abstract {
  color: rgb(215,10,80);
  font-weight: bold;
  margin-top: 10px;
}

.topic-info__img {
  margin-bottom: 10px;
}

.topic-info__courses-list {
  font-weight: bold;
  padding-left: 2em;
}

 .course-content__related {
   font-weight: bold;
   padding-left: 2em;
   margin-top: 10px;
 }

 .course-content__related{
   font-weight: bold;
   padding-left: 2em;
   margin-top: 10px;
 }

.course-list__title {
  font-weight: bold;
}

.courses-list__item {
  cursor: pointer;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.courses-list__item--active {
  background-color: rgb(153, 153, 153);
  color: rgb(230, 236, 234);
  margin-right: -30px;
}

.course-content {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 100%;
}

.course-content__actions {
  list-style:none;
}

.course-content__action {
  display: inline;
  padding:0 2px;
}

.topic-docs__list  tr:nth-child(odd) {
  background-color: rgb(236,195,215);
}

.topic-docs__list  tr:nth-child(even) {
  background-color: rgb(245,224,234);
}

.topic-docs__list {
  width: 100%;
}

.topic-docs__list .fa {
  font-size: 150%;
}

.topic-docs h2 {
  font-family: 'Questrial', sans-serif;
  color: rgb(93,93,93);
}

.topic-docs__list  tr td:nth-child(1) {
  width: 20%;
  text-align: center;
}

.topic-docs__list  tr td:nth-child(3) {
  width: 20%;
  text-align: right;
  padding-right: 1em;
}

.topic-docs__list  a {
  color: black;
}

.topic-docs__back {

  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  text-align: right;
}

.topic-docs__back a {
  color: white;
}

.topic-docs__back a:hover {
  color: silver;
}

.row--table {
  display: table;
}

.row--table .col-md-6{
  display: table-cell;
  width: 50%;
}
